# =========================
# Ignore everything first
# =========================
*

# =========================
# But allow Git to enter folders
# =========================
!*/

# =========================
# Keep trained YOLO model weights only
# =========================
!**/best.pt
!**/last.pt

# =========================
# Keep scoring system files
# =========================
!scoring/**
!scoring/**/*.py
!scoring/**/*.yaml
!scoring/**/*.yml
!scoring/**/*.txt
!scoring/**/*.md
!scoring/**/*.json

# =========================
# Keep basic repo files
# =========================
!.gitignore
!README.md